# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Secrets / Credentials
# ==========================
*.env
*.key
*.pfx
*.cer
*.crt
secrets/
**/*password*
**/*secret*
**/*credential*

# ==========================
# PowerShell
# ==========================

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# JetBrains
# ==========================
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
desktop.ini
